<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
    <title>Dashboard</title>
    <style>
        .container{
            padding: 15px;
        }
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .links a{
            margin-left: 15px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- {{session}}
        {{recipes[-1].user_id}} -->
        <div class="header">
            <h1>Welcome, {{session.first_name}}!</h1>
            <div class="links">
                <a class = "btn btn-primary" href="/newrecipe">Add Recipe</a>
                <a class = "btn btn-danger" href="/logout">Logout</a>
            </div>
        </div>
        <div class="main">
            <table class="table">
                <tr>
                    <th>Recipe Name</th>
                    <th>Under 30?</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </tr>
                {% for recipe in recipes %}
                <tr>
                    <th>{{recipe.name}}</th>
                    <td>
                        {% if recipe.under_30 %}
                            Yes
                        {% endif %}
                        {% if not recipe.under_30 %}
                            No
                        {% endif %}
                    </td>
                    <td>{{recipe.first_name}}</td>
                    <td><a href="/showrecipe/{{recipe.id}}">View</a> | 
                        {% if recipe.user_id == session.user_id %}
                            <a href="/editrecipe/{{recipe.id}}">Edit</a> | 
                            <a href="/deleterecipe/{{recipe.id}}">Delete</a> 
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
</body>
</html>