<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>All Users</title>
    <style>
        .addy{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="display">
            <h1>All Users</h1>
            <table class = "table">
                <tr>
                    <td>ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>User Added</td>
                    <td>Actions</td>
                </tr>
                {% for one_user in all_users %}
                <tr>
                    <td>{{one_user.id}}</td>
                    <td>{{one_user.first_name}}</td>
                    <td>{{one_user.last_name}}</td>
                    <td>{{one_user.email}}</td>
                    <td>{{one_user.created_at}}</td>
                    <td> <a href="/show/{{one_user.id}}">Show</a> | <a href="/edit/{{one_user.id}}">Edit</a> | <a href="/delete/{{one_user.id}}">Delete</a> </td>
                </tr>
                {% endfor %}
            </table>
            <a class = "addy"  href="/new">Add a User</a>
</body>
</html>